.count {
    /* display: flex; */
    display: flex;
    justify-content: center;





    color: crimson;
}

h1 {

    margin: 20px;
    width: 60px;
    /* border: 2px black solid; */
    background-color: cornsilk;
}

.btn {
    padding: 70px;
}

.list {
    margin: 0 auto;
    color: rosybrown;
    font-size: 32px;
    width: 30%;
    text-align: center;
}

#start {

    box-shadow: inset 0px 1px 0px 0px #eef0eb;
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #44c767;
    border-radius: 6px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;

}

#stop {
    box-shadow: inset 0px 1px 0px 0px #eef0eb;
    background: linear-gradient(to bottom, #fd3c22 5%, #d43013 100%);
    background-color: #d63b35;
    border-radius: 6px;
    border: 1px solid #cc423e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #c42712;

}

#clear {

    box-shadow: inset 0px 1px 0px 0px #eef0eb;
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #44c767;
    border-radius: 6px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;

}


button {
    margin: 10px;
}

.main {
    margin-top: 70px;
    /* margin: auto; */
    text-align: center;
}



@media screen and (max-width: 400px) {
    .list {
        width: 100%;
    }
}